{% extends 'store/layouts/main.html' %}

{% block content %}

<div class="conainer mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="">
                <div class="card mt-6 shadow">
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="text-center">
                                <h4>Login the account</h4>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for ="">Username:</label>
                                <input type="text" class="form-control" name="username" placeholder="Enter Username"
                            </div>
                            <div class="form-group">
                                <label for ="">Password:</label>
                                <input type="password" class="form-control" name="password" placeholder="Enter Password"
                            </div>
                            <div class="d-grid gap-2 col-3 mx-auto">
                            <button type="submit" class="btn float-end shadow btn-success mt-3 px-4">Login</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}