.checkoutform lable
{
    font-size: 16px;
    font-weight: 600;
}
/* .navbar {
    background-color: #A61E69;
  
} */
/* .navbar a {

    color: white;
} */

* {
    font-family: 'Source Sans Pro', sans-serif;
}